<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <title>Pydaria, a Padaria Online</title>
        <link rel="stylesheet" type="text/css" href="../static/content/navBar.css">
        <link rel="stylesheet" type="text/css" href="../static/content/index.css">
    </head>
    <body>
        <div id="container">
            <nav class="navbar">
                <div id="searchDiv">
                    <input id="searchBar" type="search" placeholder="Pesquisar por produtos ou categorias">
                    <button><img src="../static/img/searchIcon.png" alt="Pesquisar" width="20px"></button>
                </div>
                <div id="login">
                    <a href="signin.jade">Registrar-se</a>
                    <a href="login.jade">Login</a>
                </div>
                <a id="userInfo">Usuário ...</a>
            </nav>
            <div id="text">
                <h1>PyDaria</h1>
                <h2 id="loginMessage">Faça login ou registre-se para comprar nossos produtos</h2>
                <h3>Alguma mensagem sobre a padaria...</h3>
            </div>
        </div>
        <div id="products">
            <div id="prod1">
                <img src="../static/img/pao.png" width="150px">
                <p>Pão Francês</p>
                <p>R$10,00/kg</p>
            </div>
            <div id="prod2">
                <img src="../static/img/pao_de_queijo.png" width="150px">
                <p>Pão de Queijo</p>
                <p>R$20,00/kg</p>
            </div>
            <div id="prod3">
                <img src="../static/img/croissant.png" width="150px">
                <p>Croissant</p>
                <p>R$5,00 a unidade</p>
            </div>
            <div id="prod4">
                <img src="../static/img/refrigerantes.png" width="150px">
                <p>Refrigerante 2 litros</p>
                <p>R$9,00</p>
            </div>
            <div id="prod2">
                <img src="../static/img/pao_de_queijo.png" width="150px">
                <p>Pão de Queijo</p>
                <p>R$20,00/kg</p>
            </div>
            <div id="prod3">
                <img src="../static/img/croissant.png" width="150px">
                <p>Croissant</p>
                <p>R$5,00 a unidade</p>
            </div>
            <div id="prod4">
                <img src="../static/img/refrigerantes.png" width="150px">
                <p>Refrigerante 2 litros</p>
                <p>R$9,00</p>
            </div>
            <div id="prod2">
                <img src="../static/img/pao_de_queijo.png" width="150px">
                <p>Pão de Queijo</p>
                <p>R$20,00/kg</p>
            </div>
            <div id="prod3">
                <img src="../static/img/croissant.png" width="150px">
                <p>Croissant</p>
                <p>R$5,00 a unidade</p>
            </div>
            <div id="prod2">
                <img src="../static/img/pao_de_queijo.png" width="150px">
                <p>Pão de Queijo</p>
                <p>R$20,00/kg</p>
            </div>
            <div id="prod3">
                <img src="../static/img/croissant.png" width="150px">
                <p>Croissant</p>
                <p>R$5,00 a unidade</p>
            </div>
            <div id="prod4">
                <img src="../static/img/refrigerantes.png" width="150px">
                <p>Refrigerante 2 litros</p>
                <p>R$9,00</p>
            </div>
            <div id="prod2">
                <img src="../static/img/pao_de_queijo.png" width="150px">
                <p>Pão de Queijo</p>
                <p>R$20,00/kg</p>
            </div>
            <div id="prod3">
                <img src="../static/img/croissant.png" width="150px">
                <p>Croissant</p>
                <p>R$5,00 a unidade</p>
            </div>
            <div id="prod4">
                <img src="../static/img/refrigerantes.png" width="150px">
                <p>Refrigerante 2 litros</p>
                <p>R$9,00</p>
            </div>
            <div id="prod2">
                <img src="../static/img/pao_de_queijo.png" width="150px">
                <p>Pão de Queijo</p>
                <p>R$20,00/kg</p>
            </div>
            <div id="prod3">
                <img src="../static/img/croissant.png" width="150px">
                <p>Croissant</p>
                <p>R$5,00 a unidade</p>
            </div>
            <div id="prod4">
                <img src="../static/img/refrigerantes.png" width="150px">
                <p>Refrigerante 2 litros</p>
                <p>R$9,00</p>
            </div>
            <div id="prod2">
                <img src="../static/img/pao_de_queijo.png" width="150px">
                <p>Pão de Queijo</p>
                <p>R$20,00/kg</p>
            </div>
            <div id="prod3">
                <img src="../static/img/croissant.png" width="150px">
                <p>Croissant</p>
                <p>R$5,00 a unidade</p>
            </div>
            <div id="prod4">
                <img src="../static/img/refrigerantes.png" width="150px">
                <p>Refrigerante 2 litros</p>
                <p>R$9,00</p>
            </div>
        </div>
    </body>
</html>
