.divExterno {
    display: flex;
    flex-flow: row nowrap;
    width: 95vw;
}



.preco-produto {
    display: flex;
    align-items: center;
}

.preco-produto span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}